// fonts and font weights
$font: Helvetica, sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// colors
$txt-primary: #000;
$txt-secondary: #222222;
$txt-light: #575757;
$txt-danger: #ff0000;

@mixin center-align {
    display: grid;
    justify-content: center;
    align-items: center;
}

.header {
    @include center-align;
    text-align: center;
    margin-top: 100px;
    font-family: $font;
    font-weight: $light;
    color: $txt-primary;
    letter-spacing: 1px;

    h2 {
        color: $txt-primary;
    }

    p {
        color: $txt-secondary;
    }
}

.gallery-container {
    @include center-align;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    row-gap: 30px;
    column-gap: 30px;
}

.image-container {
    position: relative;
    display: inline-block;
    img {
        width: 100px;
        height: 100px;
    }
}

// delete button hover
.image-overlay {
    @include center-align;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s ease;
}

.image-container:hover .image-overlay {
    opacity: 1;
    height: 100px;
    width: 100px;
}

.delete-button {
    background: none;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.bottom-text {
    @include center-align;
    text-align: center;
    margin-top: 40px;
    font-family: $font;
    font-weight: $light;
    font-size: small;
    color: $txt-light;
    letter-spacing: 1px;
}
